Hostname "{{ inventory_hostname }}"
FQDNLookup true
Interval {{ collectd.collectd_interval }}

LoadPlugin syslog

<Plugin syslog>
	LogLevel info
</Plugin>

LoadPlugin cpu
LoadPlugin cpufreq
LoadPlugin df
LoadPlugin disk
LoadPlugin dns
LoadPlugin hddtemp
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin numa
LoadPlugin ping
LoadPlugin processes
LoadPlugin smart
LoadPlugin swap
LoadPlugin turbostat
loadPlugin uptime
LoadPlugin users
LoadPlugin write_graphite

<Plugin df>
	ValuesPercentage true
</Plugin>

<Plugin disk>
    Disk "/^[hsv]d[a-z]+[0-9]?$/"
    IgnoreSelected false
</Plugin>

<Plugin hddtemp>
	Host "127.0.0.1"
	Port 7634
</Plugin>

<Plugin ping>
    {% for host in collectd.ping_hosts %}
    Host "{{ host }}"
    {% endfor %}
    Interval 5.0
    Timeout 1.0
    TTL 255
    MaxMissed -1
</Plugin>

<Plugin smart>
    Disk "/^[hsv]d[a-z]+[0-9]?$/"
    IgnoreSelected false
</Plugin>

<Plugin swap>
    ReportBytes true
    ValuesPercentage true
</Plugin>

<Plugin write_graphite>
    <Node "logging">
        Host "{{ collectd.graphite_host }}"
        Port "2003"
        Protocol "tcp"
        LogSendErrors true
        Prefix "{{ collectd.graphite_prefix }}"
        StoreRates true
        AlwaysAppendDS false
        EscapeCharacter "_"
    </Node>
</Plugin>

<Include "/etc/collectd/collectd.conf.d">
	Filter "*.conf"
</Include>

