# Ansible files
*.retry


# Ignore configuration files
# All files with a .local extension will be ignored, unless it is also a template
*.local*
!*.local.template*


# Ignore All Openstack API files
*openrcv*.sh
