# File containing a mapping of hosts to their type
[all:vars]
ansible_user=administrator
ansible_become_pass='Password1!'


# Playbooks:
#   - active-directory-enrollment
[domain-members]


# Playbooks:
#   - collectd
[bare-metal-servers]


# Playbooks:
#   - collectd
[virtual-servers]


# Playbooks:
#   - Proxmox_provision
[proxmox-nodes]


# Playbooks:
#   - dotfiles
[unix-hosts]


# Playbooks:
#   - update
[windows-hosts]


# Playbooks:
#   - configure_kali
[kali-hosts]
