# AcceptEnv
AddressFamily any
AllowAgentForwarding yes
# AllowGroups
AllowStreamLocalForwarding yes
AllowTcpForwarding yes
# AllowUsers
AuthenticationMethods publickey,password publickey
# AuthorizedKeysCommand
# AuthorizedKeysCommandUser
AuthorizedKeysFile .ssh/authorized_keys
# AuthorizedPrincipalsCommand
# AuthorizedPrincipalsCommandUser
# AuthorizedPrincipalsFile
Banner /etc/ssh/banner
# CASignatureAlgorithms
ChallengeResponseAuthentication no
ChrootDirectory none
# Ciphers
ClientAliveCountMax 3
ClientAliveInterval 120
Compression yes
# DenyGroups
# DenyUsers
# DisableForwarding
ExposeAuthInfo no
FingerprintHash sha256
# ForceCommand
GatewayPorts no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
GSSAPIStrictAcceptorCheck yes
# HostbasedAcceptedKeyTypes
HostbasedAuthentication no
# HostbasedUsesNameFromPacketOnly
# HostCertificate
# HostKey
# HostKeyAgent
# HostKeyAlgorithms
IgnoreRhosts yes
IgnoreUserKnownHosts no
# IPQoS
KbdInteractiveAuthentication yes
KerberosAuthentication no
KerberosGetAFSToken no
KerberosOrLocalPasswd yes
KerberosTicketCleanup yes
# KexAlgorithms
ListenAddress 0.0.0.0
ListenAddress ::
LoginGraceTime 30
LogLevel INFO
# MACs
# Match
MaxAuthTries 3
MaxSessions 10
MaxStartups 10:30:100
PasswordAuthentication no
PermitEmptyPasswords no
# PermitListen
# PermitOpen
PermitRootLogin no
PermitTTY yes
PermitTunnel no
PermitUserEnvironment no
PermitUserRC yes
PidFile /var/run/sshd.pid.
Port 22
PrintLastLog yes
PrintMotd yes
Protocol 2
# PubkeyAcceptedKeyTypes
PubkeyAuthentication yes
# RekeyLimit
# RevokedKeys none # Need to switch to ssh certificates instead of keys, but for now this is tolerable
# RDomain
# SetEnv
StreamLocalBindMask 0177
StreamLocalBindUnlink no
StrictModes yes
Subsystem       sftp    /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive yes
# TrustedUserCAKeys
UseDNS yes
UsePAM yes
# VersionAddendum
X11DisplayOffset 10
X11Forwarding yes
X11UseLocalhost yes
XAuthLocation /usr/X11R6/bin/xauth

# Example of overriding settings on a per-user basis
#Match User guest
#       X11Forwarding no
#       AllowTcpForwarding no
#       PermitTTY no
#       ForceCommand cvs server
#       chroot /chrootjails/guest/

